<div class="grid_2">
  <div class="col_12">

    <!-- Title -->
  <center><h1>About Team4 Furniture Industries</h1></center>
    <!-- End title -->
    
      <!--1st row -->
      <div class="col_5">
        <img class="caption" title="Our Corporate Office can be found @ 4800 Calhoun Rd, Houston, TX 77004 in PGH 5th floor" src="http://www.uh.edu/wtsc_apps/uh_maps/buildings/photos/pgh_01.jpg" />
      </div>
      <div class="col_7">
        <p><h5>Team4 Furniture Industries, Inc. is the largest manufacturer of
          furniture in the world. Established in Fall 2013, Team4 offers one of the
          industry’s broadest product assortments to retail partners in 123
          countries. From design, through fulfillment, Team4 continuously strives
          to provide you, our customer, with the best values, selection and
          service in the furniture industry.</h5></p>
      </div>
      <!--end 1st row -->
      
  </div>
</div>