<div class="grid_2">
  <div class="col_12">

    <!-- Title -->
    <div class="col_12"><center><h1>Contact Us</h1></center></div>
    <!-- End title -->

      <!--1st row -->
      <div class="col_2">
        <img class="caption" title="Drop us a line." src="http://stocklogos.com/sites/default/files/1195445181899094722molumen_phone_icon.svg_.med_.png" />
      </div>
      <div class="col_10">
        <p><h3>Phone</h3></p>
        <p><h5>911</h5></p>
        <p><h3>Email</h3></p>
        <p><h5>TEAM4OFPS@mail.uh.edu</h5></p>
        <p><h3>Address</h3></p>
        <p><h5>University of Houston 4800 Calhoun Rd. Houston, TX, 77004</h5></p>

      </div>
      <!--end 1st row -->

  </div>
</div>