<br /><br /><br />
<body>
  <center>
    <div style="display: table;" border="1">
      <div style="display: table-row;">
        <div style="display: table-cell;"><b>Cities</b></div>
        <div style="display: table-cell;"><b>Number of customers</b></div>

      </div>
      <%for r in @data%>
        <div class=<%=cycle('list_line_even','list_line_odd')%> style="display: table-row;">
          <div style="display: table-cell;"><%= r.cities %></div>
          <div style="display: table-cell;"><%= r.num %></div>

        </div>
      <%end%>

    </div>
  </center>
</body>