<div class="grid">
  <div class="col_12">

    <!-- Title -->
    <div class="col_12"><center><h1>Customer Service</h1></center></div>
    <!-- End title -->

      <!--1st row -->
      <div class="col_2">
        <img class="caption" title="How can we help you today?" src="http://todaycut.com/wp-content/uploads/2013/07/customer-service-interview.jpg" />
      </div>
      <div class="col_10">
        <p><h3>TEAM4OFPS strives to provide the best customer service to it's customers.</h3></p>
        <p><h5>Feel free to contact us by email, phone, or through our live chat feature.</h5></p>


      </div>
      <!--end 1st row -->

  </div>
</div>