<div class="grid">
  <div class="col_12">

    <!-- Title -->
    <div class="col_12"><center><h1>Frequently Asked Questions</h1></center></div>
    <!-- End title -->

      <!--1st row -->
      <div class="col_2">
        <img class="caption" title="Confused? You've come to the right place." src="https://admissionblog.usc.edu/files/2013/05/Question-Mark.jpg" />
      </div>
      <div class="col_10">
        <p><h3>Why is TEAM4OFPS the best?</h3></p>
        <p><h5>TEAM4OFPS is the best because we are proficient in UML and use the latest tools, Netbeans 6.9.1 </h5></p>
        <p><h3>Why is the furniture so expensive?</h3></p>
        <p><h5>OBAMA.</h5></p>
        <p><h3>I have contacted customer service but no one has responded.</h3></p>
        <p><h5>Please allow 655 working days for us to respond to your concerns. Thank you.</h5></p>
      </div>
      <!--end 1st row -->

  </div>
</div>