<body>

<div class="grid_2">
   <title>TEAM4OFPS</title>

<!-- Slideshow -->
<ul class="slideshow"> 
    <li><img src="/images/slide1.gif" width="1024" height="401" /></li>
    <li><img src="/images/slide2.gif" width="1024" height="401" /></li>
    <li><img src="/images/slide3.jpg" width="1024" height="401" /></li>
    <li><img src="/images/slide4.gif" width="1024" height="401" /></li>
</ul>
<!--  End Slideshow -->

<!-- Gallery
<div class="gallery">
  <div class ="col_4">
      <a herf=""><img src="http://goo.gl/8C4pSb" width="300" height="300" /></a>
  </div>
  <div class ="col_4">
    <a herf=""><img src="http://goo.gl/X1Y1rp" width="300" height="300" /></a>
  </div>
  <div class ="col_4">
    <a herf=""><img src="http://goo.gl/iFYeh5" width="300" height="300" /></a>
  </div>
</div>
End Gallery -->

<!-- Gallery -->
<div id="features">
    <ul>    
    
<li><div></div><p><a href="<%= office_path %>"><img alt="" class="alignnone size-full wp-image-3942" height="210" src="/images/1.png" width="225" /></a></p>
</li>
<li><div></div><p><a href="livingroom#tabc2"><img alt="" class="alignnone size-full wp-image-3940" height="210" src="/images/2.png" width="224" /></a></p>
</li>
<li><div></div><p><a href="<%= kitchen_path %>"><img alt="" class="alignnone size-full wp-image-3938" height="210" src="/images/3.png" width="223" /></a></p>
</li>
<li><div></div><p><a href="livingroom#tabc1"><img class="size-full wp-image-3936 alignnone" height="210" src="/images/4.png" width="225" /></a></p>
</li>
    </ul>
  </div>

<!--  End Gallery -->

<!-- Start Testimonials -->
</br>
<div class="title">
  <h4>Testimonials</h4>
    <div class="title-sep-container">
      <div class="title-sep"></div>
    </div>
</div>


<div class="one_third">
  <div class="one_third"></div>
  <div class="review male">
    <blockquote>
      <q>The staff was professional, after 2 days the chair I purchased began to look very worn, in the arms you could feel wood verses padding and in the front there was batting exposed because a seam was not properly sewn...
      </q>
      <div class="clearfix">
        <span class="company-name">
          <strong>Adam Levine</strong>
          <a href="#" target="">
            <span>Maroon 5 Company</span>
          </a>
        </span>
      </div>
    </blockquote>
  </div>
</div>

<div class="one_third">
  <div class="one_third"></div>
  <div class="review male">
    <blockquote>
      <q>"Received my furniture delivery yesterday and am very pleased. The furniture is flawless and the servicemen from the Basista Delivery Team were top notch. This is my second delivery from Basista and will have to give you a grade of A+. THANKS TEAM4OFPS FURNITURE"
      </q>
      <div class="clearfix">
        <span class="company-name">
          <strong>Adam Levine</strong>
          <a href="#" target="">
            <span>Maroon 5 Company</span>
          </a>
        </span>
      </div>
    </blockquote>
  </div>
</div>

<div class="one_third">
  <div class="one_third"></div>
  <div class="review male">
    <blockquote>
      <q>The staff was professional, after 2 days the chair I purchased began to look very worn, in the arms you could feel wood verses padding and in the front there was batting exposed because a seam was not properly sewn...
      </q>
      <div class="clearfix">
        <span class="company-name">
          <strong>Adam Levine</strong>
          <a href="#" target="">
            <span>Maroon 5 Company</span>
          </a>
        </span>
      </div>
    </blockquote>
  </div>
</div>


<!-- End Testimonials -->



<!-- End 4 by paragraphs -->
</div>

<!-- END GRID -->

</body>
<!-- ================================ END BODY  ============================ -->