<br/> <div style="width: 350px;  margin-left: 35%; margin-right: 40%;">
   <h3>Display orders since: </h3>
 <% form_tag( params.merge({ :action => "osd_report" }), :method => "get", :id => "osd" ) do %>
            <%= date_select :osd_date , '' , { :id => 'osd_date'} %><br/><br/>
            <%= submit_tag "Search" %>
        <% end %>
 </div>

<br /><br /><br /><br />