<p>
  <b>Work center:</b>
  <%=h @work_center.work_center_id %>
</p>

<p>
  <b>Location:</b>
  <%=h @work_center.location %>
</p>


<%= link_to 'Edit', edit_work_center_path(@work_center) %> |
<%= link_to 'Back', work_centers_path %>